{% extends "base.html" %}

{% block title %}Коррекция фигуры{% endblock %}

{% block content %}
<h1>Коррекция фигуры</h1>
<p>Коррекция фигуры с помощью RF (радиочастотного лифтинга) — это неинвазивная косметическая процедура, которая помогает подтянуть кожу и уменьшить жировые отложения. В процессе используется радиочастотная энергия, которая проникает в глубокие слои кожи, разогревая их и стимулируя выработку коллагена. Это способствует улучшению упругости и эластичности кожи, а также помогает избавиться от целлюлита и локальных жировых отложений.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YourVideoID3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
