{% extends "base.html" %}

{% block title %}Удаление волос{% endblock %}

{% block content %}
<h1>Удаление волос</h1>
<p>Лазерное удаление волос SHR (Super Hair Removal) — это современная процедура, которая помогает избавиться от нежелательных волос на теле и лице. Она использует мягкие импульсы света, которые проникают в кожу и разрушают волосяные фолликулы, предотвращая их рост.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YourVideoID2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
